# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directory
out/

# VS directory
.vs/

# Cmake file
*.cmake
*.bin
#*.txt
CMakeCache.txt
*Makefile
*.log
*.internal
*.make
*.marks
*.includecache
*.json
*.check_cache
**/CMakeFiles/

# Executable file
bst
constexpr
cpp17_test
